## Import libraries

In [1]:
import wooldridge as woo
import pandas as pd
import numpy as np
import statsmodels.api as sm

## Load dataset

In [2]:
df = woo.data("wage2")
df.head()

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502

## (i) Descriptive statistics

In [4]:
# Descriptive statistics
mean_wage = df["wage"].mean()
mean_iq = df["IQ"].mean()         
std_iq = df["IQ"].std()           

print(f"Average wage: {mean_wage:.2f}")
print(f"Average IQ: {mean_iq:.2f}")
print(f"Standard deviation of IQ: {std_iq:.2f}")

Average wage: 957.95
Average IQ: 101.28
Standard deviation of IQ: 15.05

## (ii) Linear regression model: wage = β0 + β1*IQ + u

In [7]:
# Define dependent (y) and independent (X) variables
X = sm.add_constant(df["IQ"])
y = df["wage"]

# Estimate the simple linear regression model
model_linear = sm.OLS(y, X).fit()

# Print regression results
print(model_linear.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   wage   R-squared:                       0.096
Model:                            OLS   Adj. R-squared:                  0.095
Method:                 Least Squares   F-statistic:                     98.55
Date:                Thu, 11 Sep 2025   Prob (F-statistic):           3.79e-22
Time:                        13:48:39   Log-Likelihood:                -6891.4
No. Observations:                 935   AIC:                         1.379e+04
Df Residuals:                     933   BIC:                         1.380e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        116.9916     85.642      1.366      0.172     -51.081     285.064
IQ             8.3031      0.836      9.927      0.000       6.662       9.944
==============================================================================
Omnibus:                      208.281   Durbin-Watson:                   1.802
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              532.184
Skew:                           1.157   Prob(JB):                    2.74e-116
Kurtosis:                       5.882   Cond. No.                         697.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# (iii)Compute predicted increase in wage for +15 IQ points

In [8]:
beta1 = model_linear.params["IQ"]     # Slope coefficient
delta_wage_15 = beta1 * 15
print(f"Predicted increase in wage for +15 IQ points: {delta_wage_15:.2f}")

Predicted increase in wage for +15 IQ points: 124.55