## Import wooldridge library

In [1]:
import wooldridge as woo

## Load dataset

In [2]:
df = woo.data("alcohol")
df.head()

,abuse,status,unemrate,age,educ,married,famsize,white,exhealth,vghealth,...,mothalc,fathalc,livealc,inwf,employ,agesq,beertaxsq,cigtaxsq,ethanolsq,educsq
0,1,1,4.0,50,4,1,1,1,0,0,...,0,0,0,0,0,2500,0.111556,1444.0,4.159397,16
1,0,3,4.0,37,12,1,5,1,0,0,...,0,0,0,1,1,1369,0.111556,1444.0,4.159397,144
2,0,3,4.0,53,9,1,3,1,1,0,...,0,0,0,1,1,2809,0.111556,1444.0,4.159397,81
3,0,3,3.3,59,11,1,1,1,1,0,...,0,0,0,1,1,3481,0.057600,676.0,6.002402,121
4,0,3,3.3,43,10,1,1,1,1,0,...,0,1,1,1,1,1849,0.057600,676.0,6.002402,100

## (i) What percentage of men in the sample reported alcohol abuse? What is the employment rate?

In [3]:
# Percentage of men reporting alcohol abuse (entire sample is men)
prop_abuse = df['abuse'].mean() * 100

# Employment rate in the sample
employment_rate = df['employ'].mean() * 100

print(f"Percentage of men reporting alcohol abuse: {prop_abuse:.2f}%")
print(f"Employment rate in the sample: {employment_rate:.2f}%")

Percentage of men reporting alcohol abuse: 9.92%
Employment rate in the sample: 89.82%

## (ii) Consider the group of men who abuse alcohol. What is the employment rate of this group?

In [4]:
# Filter the group of men who reported alcohol abuse
abuse_group = df[df['abuse'] == 1]

# Employment rate within the alcohol abuse group
employment_abuse = abuse_group['employ'].mean() * 100

print(f"Employment rate among men who abuse alcohol: {employment_abuse:.2f}%")

Employment rate among men who abuse alcohol: 87.27%

## (iii) What is the employment rate of the group of men who do not abuse alcohol?

In [5]:
# Filter the group of men who did NOT report alcohol abuse
no_abuse_group = df[df['abuse'] == 0]

# Employment rate within the non-alcohol-abuse group
employment_no_abuse = no_abuse_group['employ'].mean() * 100

print(f"Employment rate among men who do not abuse alcohol: {employment_no_abuse:.2f}%")

Employment rate among men who do not abuse alcohol: 90.10%

## (iv) Discuss the difference in your answers to items (ii) and (iii). Does this allow you to conclude that alcohol abuse causes unemployment?

We can only say that there is a slight negative association between alcohol abuse and employment, but we cannot conclude that alcohol abuse causes unemployment.