## Import wooldridge library

In [2]:
import wooldridge as woo

## Load dataset

In [3]:
df = woo.data("fertil2")
df.head()

,mnthborn,yearborn,age,electric,radio,tv,bicycle,educ,ceb,agefbrth,...,heduc,agesq,urban,urb_educ,spirit,protest,catholic,frsthalf,educ0,evermarr
0,5,64,24,1.0,1.0,1.0,1.0,12,0,NaN,...,NaN,576,1,12,0,0,0,1,0,0
1,1,56,32,1.0,1.0,1.0,1.0,13,3,25.0,...,12.0,1024,1,13,0,0,0,1,0,1
2,7,58,30,1.0,0.0,0.0,0.0,5,1,27.0,...,7.0,900,1,5,1,0,0,0,0,1
3,11,45,42,1.0,0.0,1.0,0.0,4,3,17.0,...,11.0,1764,1,4,0,0,0,0,0,1
4,5,45,43,1.0,1.0,1.0,1.0,11,2,24.0,...,14.0,1849,1,11,0,1,0,1,0,1

## (i) Find the smallest and largest values of $children$ in the sample. What is the mean of $children$?

In [4]:
# Minimum, maximum, and mean of children
min_children = df['children'].min()
max_children = df['children'].max()
mean_children = df['children'].mean()

print(f"Minimum number of children: {min_children}")
print(f"Maximum number of children: {max_children}")
print(f"Average number of children: {mean_children:.2f}")

Minimum number of children: 0
Maximum number of children: 13
Average number of children: 2.27

## (ii) What percentage of women have electricity at home?

In [5]:
# Percentage of women with electricity at home
perc_electric = df['electric'].mean() * 100

print(f"Percentage of women with electricity at home: {perc_electric:.2f}%")

Percentage of women with electricity at home: 14.02%

## (iii) Calculate the average number of children for those without electricity and do the same for those with electricity. Comment on what you found.

In [6]:
# Average number of children by electricity status
mean_children_electric = df.groupby('electric')['children'].mean()

print("Average number of children:")
print(mean_children_electric)

Average number of children:
electric
0.0    2.327729
1.0    1.898527
Name: children, dtype: float64

Women without electricity have, on average, 0.43 more children than those who have electricity.

## (iv) From item (iii), can you deduce that having electricity "causes" women to have more children? Explain.

Although there is a negative correlation between having electricity and the number of children, this does not mean that electricity causes reduced fertility. It is more likely that electricity is an indicator of better socioeconomic conditions, which in turn are linked to lower fertility.